server:
  port: 80
  tomcat:
    uri-encoding: utf-8
  context-path: /
  #上传文件路径 建议文件夹名称叫做image 或 img 下面资源映射会根据文件夹名称更改链接地址
  uploadPath: E:\\Lehui\\filebase\\img
  #上传文件地址
  filebase: http://192.168.0.173:8787/img/
spring:
  resources:
    static-locations: file:${server.uploadpath}
  jpa:
      show-sql: true
      hibernate:
        ddl-auto: update
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/springcloud?characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    minIdle: 2
    maxAction: 20
    maxWaitMillis: 8000
eureka:
   client:
     serviceUrl:
      # defaultZone: http://localhost:7000/eureka/   # 将 该模块注册到 eureka server 列表中
        defaultZone: http://eureka7000.com:7000/eureka/,http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/   # 设置 与 Eureka Server 交互地址
     register-with-eureka: false